.header{
	display: flex;
	align-items: center;
  justify-content: space-around
}

.b-nav-tab{
  width: 10em;
  height: 3em;
  color: white;
  text-align: center;
  background-color: black;
  border-radius: 10px;
}
.b-tab {
	padding: 20px;
	display: none;
  background-color: white;
}

.b-tab.active {
	display: block;
}

.b-nav-tab:hover {
	background-color: #666666;
}
.tab-buttons{
  margin-right: 10;
}

.main-warraper{
  display: flex;
  justify-content: space-evenly;
  margin:10px;
}

.display-profile{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin: 100px;
  width:20em;
}

.profile-element{
font-weight: bolder;
font-size: 1.3em;

}

img{
  object-fit: cover;
  width: 200px;  
  height: 200px; 
}

body{
  background-color: gray;
}
