html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

.header{
	display: flex;
	align-items: center;
  justify-content: space-around
}

.b-nav-tab{
  width: 10em;
  height: 3em;
  color: white;
  text-align: center;
  background-color: black;
  border-radius: 10px;
}
.b-tab {
	padding: 20px;
	display: none;
}

.b-tab.active {
	display: block;
}

.b-nav-tab:hover {
	background-color: #666666;
}
.tab-buttons{
  margin-right: 10;
}

.profile-warraper{
  display: flex;
  flex-direction: column;
  width: 80em;
  margin-top:240px;
  margin-left:700px;
  height: 60%;
}

.display-profile{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width:70em;
}

.profile-element{
font-weight: bolder;
font-size: 3em;
display: flex;
line-height: 5px;
padding: 10px;
}

.user-description{
font-size: 20px;

}
img{
  width: 300px;  
  height: 300px;
  border-radius: 1em;
  filter: drop-shadow(0 0 0.75rem black)
}

body{
  background-color:#EDEDEC;
}

.profile-introduction{
  display: flex;
  flex-direction: column;
  margin: 3em;
}
.username{
  font-size: 40px;
  line-height: 1px;
  font-weight: bold;
}
.profile-title{
  font-size: 70px;
}

.article-lists-title{
  font-size: 40px;
  font-weight: bold;
}
.article-lists-title-warraper{
  display: flex;
  justify-content: space-evenly;
}

.title{
  font-size: 23px;
}