html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
}

.header{
	display: flex;
	align-items: center;
  justify-content: space-around;
}

.app-name{
  display: flex;
  /* flex-direction: row; */
  /* 折り返し関係の設定/今回は1行表示 */
  flex-wrap: nowrap;
  /* 文字位置の設定 */
  align-items: center;
  margin: 16px;
  border-radius:100%;
}
#token-form{
  width: 16em;
  min-height:24px;
  margin-left: 32px;
  font-size: 24px;
  overflow: hidden;
  color: #666666;
  border-color: #666666;
  outline: solid 2px #7F7F7F;
  border-radius: 4px;
}
.b-nav-tab{
  width: 10em;
  height: 3em;
  color: white;
  text-align: center;
  background-color: black;
  border-radius: 10px;
}

.b-tab {
	padding: 20px;
	display: none;
}

.b-tab.active {
	display: block;
}

.b-nav-tab:hover {
	background-color: #666666;
}
.tab-buttons{
  margin-right: 10;
}

.profile-wrapper{
  display: flex;
  flex-direction: column;
  width: 80em;
  margin-top:240px;
  margin-left:700px;
  height: 60%;
}

.display-profile{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width:70em;
}

.profile-element{
font-weight: bolder;
font-size: 3em;
display: flex;
line-height: 5px;
padding: 10px;
}

#user-description{
  font-size: 20px;
}
img{
  width: 300px;  
  height: 300px;
  border-radius: 1em;
  filter: drop-shadow(0 0 0.75rem black)
}

body{
  background-color:#E5E5E5;
}

.profile-introduction{
  display: flex;
  flex-direction: column;
  margin: 3em;
}
#username{
  font-size: 40px;
  line-height: 1px;
  font-weight: bold;
}
.profile-title{
  font-size: 70px;
}

.article-lists-title{
  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
#article-list-title-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  
  align-items: flex-start
  /* max-width: 800px; */
}

.article{
  font-size: 23px;
  display: flex;
}

ul {
  list-style: none;
}

.article-waraper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  border-bottom: solid;
  width: 800px;
}
.tag {
  display: inline-block;
  /* background-color: #f0f0f0; */
  color: #333;
  padding: 4px 8px;
  margin-top: 8px;
  margin: 6px;
  border-radius: 4px;
  font-size: 14px;
  border:solid;
}
  
.tags{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.create-day{
font-size: 20px;

}

.content-header{
  display: flex;
  justify-content: space-evenly;
  font-size: 32px;
}

#article-detail {
  display: flex;
  flex-direction: column;
  max-width: 800px;          
  margin:auto;
}
.detail-article{
  display: flex;
  justify-content: space-evenly;
  font-size: 32px;
  font-weight: bold;
}
.back-btn{
  width: 5em;
  height: 3em;
  color: white;
  background-color: black;
  border-radius: 10px;
  display: block;
  margin-left: 730px ;
}